body {
	margin: 0;
	overflow: hidden;
}
#game {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	font-size: 40px;
	font-family: "Work Sans", sans-serif;
	color: rgb(189, 195, 199);
	background: linear-gradient(to right, #2980b9, #2c3e50);
}

#game .screen {
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 10;
}

#game .screen.active {
	display: block;
}

#splash-screen {
	text-align: center;
	padding-top: 2.5em;
}

#splash-screen .continue {
	cursor: pointer;
	font-size: 0.75em;
	display: none;
}

.logo {
	font-family: "Jua", sans-serif;
	font-size: 1.5em;
	line-height: 0.9em;
	margin: 0;
	text-align: center;
	color: rgb(189, 195, 199);
	text-shadow: 0.03em 0.03em 0.03em rgb(52, 152, 219),
		-0.03em -0.03em 0.03em rgb(52, 152, 219), 0.1em 0.15em 0.15em rgb(0, 0, 0);
}

/* <------ Main Menu ------> */

#main-menu {
	padding-top: 1em;
}

ul.menu {
	text-align: center;
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.menu li {
	margin: 1em 0;
}

ul.menu li button {
	font-family: "Jua", sans-serif;
	font-size: 0.6em;
	color: rgb(189, 195, 199);
	width: 10em;
	height: 1.5em;
	background: rgb(41, 128, 185);
	border-radius: 0.5em;
	-webkit-box-shadow: 0.2em 0.2em 0.3em rgb(0, 0, 0);
	-moz-box-shadow: 0.2em 0.2em 0.3em rgb(0, 0, 0);
	box-shadow: 0.2em 0.2em 0.3em rgb(0, 0, 0);
}

ul.menu li button:hover {
	background: rgb(44, 62, 80);
}

ul.menu li button:active {
	color: rgb(52, 73, 94);
	background: rgb(44, 62, 80);
}

/* <------ Progress bar ------> */
.progress {
	margin: auto;
	width: 6em;
	height: 0.5em;
	border-radius: 0.5em;
	overflow: hidden;
	border: 1px solid rgb(200, 200, 100);
}

.progress .indicator {
	background-color: rgb(200, 200, 100);
	height: 100%;
	width: 0%;
}
