#game {
	width: 100%;
	height: 100%;
}

/* <------ Use a smaller base size for small screens ------> */
@media (max-device-width: 480px) and (orientation: portrait),
	@media (max-device-width: 640px) and (orientation: landscape) {
	#game {
		font-size: 40px;
	}

	.logo {
		font-size: 3em;
	}

	#splash-screen .continue {
		font-size: 2em;
	}

	ul.menu li {
		margin: 1.5em 0;
	}

	ul.menu li button {
		font-size: 2em;
	}
}

/* <------ Use a bigger base size for ipads and tablets ------> */
@media (min-device-width: 768px) and (orientation: portrait),
	@media (min-device-width: 1024px) and (orientation: landscape) {
	#game {
		font-size: 64px;
	}
}

/* <------ Smarthphone landscape ------> */
@media (orientation: landscape) {
	#splash-sreen,
	#main-menu {
		font-size: 1em;
		padding-top: 0.75em;
	}

	ul.menu li {
		display: inline-block;
		margin: 0;
	}

	ul.menu li button {
		margin: 0.5em;
		font-size: 0.5em;
	}
}

/* <------ Small screens landscape ------> */
@media (orientation: landscape) and (max-device-width: 480px) {
	ul.menu li button {
		font-size: 0.4em;
	}
}

/* <------ Tablets landscape ------> */
@media (orientation: landscape) and (max-device-width: 480px) {
	#splash-sreen,
	#main-menu {
		padding-top: 1.5em;
	}
}
